// bower:scss
// endbower
$secondry: #b78535;
$primary: #00907d;
$lightGold: #cbac65;
$lightBlue: #00907d;
$gold: #aa8139;
$red: #d0021b;
// @font-face {
//     font-family: 'dinnLight';
//     src: url('../fonts/DINNextLTArabic-Light.ttf') format('truetype');
//     font-style: light;
//     font-weight: light;
// }
// ;
// @font-face {
//     font-family: 'dinnMedium';
//     src: url('../fonts/subset-DINNextLTArabic-Medium.eot');
//     src: url('../fonts/subset-DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/subset-DINNextLTArabic-Medium.woff') format('woff'),
//         url('../fonts/subset-DINNextLTArabic-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }
// ;
@font-face {
    font-family: 'dinnRegular';
    src: url('../fonts/subset-DINNextLTArabic-Regular.eot');
    src: url('../fonts/subset-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-DINNextLTArabic-Regular.woff') format('woff'), url('../fonts/subset-DINNextLTArabic-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

;
html {
    direction: rtl;
    height: 100%;
}

@for $i from 1 through 12 {
    .m#{$i} {
        width: 100%;
    }
}

body {
    height: 100%;
    font-family: 'dinnRegular', sans-serif;
    > .row {
        height: 100%;
        > .col {
            height: 100%;
        }
    }
}

a {
    color: $secondry;
}

.ql-container {
    font-family: 'dinnRegular', sans-serif !important;
}

.col.s2.nav-wrapper {
    right: 0;
    background: url(../images/menu-bg.jpg);
    background-size: 100% 100%;
    height: 100%;
    margin-right: -10px;
    text-align: center;
    position: fixed;
    width: 116px;
    min-height: 550px;
    transition: all .5s;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    overflow: visible;
    .nav-hidden & {
        -webkit-transform: translate(100%, 0);
        -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        .hide-nav a {
            img {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
            -webkit-transform: translate(-58px,
            0);
            -moz-transform: translate(-58px,
            0);
            -ms-transform: translate(-58px,
            0);
            -o-transform: translate(-58px,
            0);
            background:$primary;
            position: absolute;
            bottom: 20px;
            padding: 5px 9px;
            z-index: 99999999999999999999;
        }
    }
}

.col.s10.main-content {
    width: 100%;
    padding-right: 120px;
    transition: all .5s;
    .nav-hidden & {
        padding-right: 10px;
    }
}

.heading-6 {
    i {
        top: 6px;
        position: relative;
        color: #a2a1a2;
    }
}

img {
    max-width: 100%;
}

.btn {
    font-size: 16px;
    &-secondry,
    &-secondry:focus {
        background: $secondry;
        &:hover {
            background: lighten($secondry, 10%);
        }
    }
    &-primary {
        background: $primary;
        &:hover {
            background: lighten($primary, 10%);
        }
    }
    &-white{
        background: #fff;
        border: 1px solid $secondry;
        color:#000;
        border-radius: 5px;
    }
    &-red{
        background:$red ;
        &:hover,&:focus{
            background: lighten($red,10%);
        }
    }
    &.btn-flat {
        white-space: pre-wrap;
        line-height: 20px;
        color: #000;
        text-align: center;
        border: 1px solid #b9b9b9;
        padding: 5px 60px;
    }
}

.login {
    background: url(../images/login-bg.jpg);
    background-size: cover;
    &-container {
        width: 360px;
        margin: 30px auto;
    }
    &-welcome {
        text-align: center;
        color: #fff;
        background: rgba(255, 255, 255, .4);
        padding: 50px 0 30px 0;
        margin-top: 50px;
        position: relative;
        border-radius: 5px;
    }
    &-user {
        position: absolute;
        top: -40px;
        left: 39%;
        img {
            border: 3px solid $secondry;
            border-radius: 200px;
        }
    }
}

.nav {
    i.material-icons {
        color: #669f98;
        font-size: 44px;
    }
    & > div {
        padding: 10px 0;
        &:last-child {
            padding: 0;
        }
    }
    .notifs a{
        position: relative;
        .count{
           position: absolute;
           top: -10px;
           right: -3px;
           background: #fff;
           border-radius: 50px;
           width: 16px;
           height: 16px;
           padding: 0;
           font-size: 11px;
           color: #014e48;
           font-weight: bolder;
           border: 1px solid #66a19a;
           line-height: 13px;
        }
    }
}

.pull-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    & > div {
        padding: 20px 0;
    }
}

.delete {
    position: relative;
    top: 7px;
    float: left;
}

.doc-container {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    .valign-wrapper {
        height: 270px;
        .valign {
            margin: 0 auto;
        }
    }
    &-horizontal{
        .valign-wrapper{
        }
        .divider{
                height: calc(100% - 106px);
            width: 1px;
            margin: 53px auto !important;
        }
        .divider-container span{
           right: 0;
           top: 43%;
           left: 0;
           margin: 0 auto;
            height: 52px;
        }
    }
}

.divider-container {
    position: relative;
    span {
        position: absolute;
        left: 45%;
        top: -19px;
        background: #fff;
        width: 48px;
        text-align: center;
        font-size: 30px;
    }
    .divider {
        margin: 0 25px;
    }
}

.photo-preview {
    text-align: center;
    margin-top: 50px;
}

.chip {
    color: $primary;
    border: 1px solid $secondry;
    background: #fff;
    border-radius: 3px;
}

.chips .icon_prefix {
    width: 100% !important;
}

.chips .prefix {
    left: 5px;
    top: 10px;
}

.header {
    line-height: 25px;
    small {
        font-size: 16px;
        display: block;
        margin-right: 54px;
    }
    img {
        position: relative;
        top: 8px;
    }
    .right {
        i {
            color: $secondry;
        }
        .settings {
            width: 24px;
            height: 24px;
            background: url(../images/settings.png) no-repeat;
        }
    }
}

.chartColor {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 5px;
    &.lightGold {
        background: $lightGold;
    }
    &.lightBlue {
        background: $lightBlue;
    }
    &.gold {
        background: $gold;
    }
}

.table-condensed {
    td {
        padding: 1px 0;
    }
}

.charts {
    @media screen and (min-width: 700px) {
        display: flex;
        align-items: flex-end;
    }
    canvas {
        margin: 10px auto;
    }
}

.circle {
    &.chartTime {
        width: 148px;
        height: 148px;
        display: block;
        border: 2px solid #cbac65;
        border-radius: 200px;
        padding: 45px 0;
        font-size: 29px;
        font-weight: bold;
        text-align: center;
        color: $primary;
        margin: 0 auto;
    }
}

.chart-total,
.chart-open {
    position: relative;
    .donut-inner {
        position: absolute;
        top: 20%;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
        span {
            display: inline-block;
        }
    }
}

.h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

.modal {
    &-sm {
        @media screen and (min-width: 700px) {
            width: 50%;
        }
        background: #fff;
    }
    &-header {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }
    .hide-modal {
        display: none;
    }
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.dash-setting .material-icons {
    transform: scaleX(-1);
    color: $secondry;
    font-size: 32px;
    position: relative;
    top: 10px;
}

.monthPicker {
    border: 0 !important;
    display: inline-block !important;
    width: 128px !important;
    font-size: 16px !important;
    padding: 0 !important;
    height: 50px !important;
}

.timeline {
    margin: 40px 0;
    .item {
        height: 79px;
        & > div {
            display: inline-block;
        }
        .icon {
            background: url(../images/right-line.jpg) no-repeat left center;
            padding-left: 50px;
            .material-icons {
                font-size: 32px;
                width: 60px;
                height: 60px;
                padding: 13px;
                border-radius: 200px;
                border: 1px solid #a7a6a7;
                color: #a7a6a7;
                &.full {
                    padding: 0;
                    margin-top: -3px;
                }
            }
        }
        .number {
            width: 46px;
            height: 56px;
            background: $secondry;
            color: #fff;
            padding: 11px;
            text-align: center;
            box-sizing: border-box;
            margin-right: 10px;
            margin-left: 10px;
            position: relative;
            font-size: 20px;
            vertical-align: bottom;
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 23px solid transparent;
                border-right: 23px solid transparent;
                border-top: 19px solid $secondry;
                position: absolute;
                bottom: -18px;
                left: 0;
            }
            &:before {
                content: "";
                width: 0;
                height: 0;
                border-left: 24px solid $secondry;
                border-right: 22px solid $secondry;
                border-top: 19px solid transparent;
                position: absolute;
                top: -18px;
                left: 0;
            }
        }
        &:first-child {
            .number:before {
                border-top: 19px solid #b78535;
                border-radius: 5px 5px 0 0;
            }
        }
        &:last-child {
            .number:after {
                border-left: 23px solid #b78535;
                border-right: 23px solid #b78535;
                border-radius: 0 0 5px 5px;
            }
        }
        .data {
            background: url(../images/left-line.jpg) no-repeat right center;
            padding-right: 55px;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
                margin: 0;
            }
            .date {
                color: #8d8d8d;
            }
        }
        &.done {
            &:first-child {
                .number:before {
                    border-top-color: $primary;
                }
            }
            &:last-child {
                .number:after {
                    border-left-color: $primary;
                    border-right-color: $primary;
                }
            }
            .number {
                background: $primary;
                &:after {
                    border-top-color: $primary;
                }
                &:before {
                    border-left-color: $primary;
                    border-right-color: $primary;
                }
            }
        }
    }
    .collapsible-body {
        li {
            border-top: 1px solid #ccc;
            padding-top: 5px;
            a {
                background: url(../images/lef-arrow.jpg) left center no-repeat;
                display: block;
                padding-left: 20px;
            }
        }
    }
}

.collapsible {
    border-radius: 5px;
    box-shadow: none;
    overflow: hidden;
    font-weight: bold;
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    & > li {
        border-bottom: 1px solid #ddd;
    }
    .collapsible-header {
        border-bottom: 0;
        background: #fff url(../images/plus.jpg) no-repeat 10px;
        &.active {
            background: #fff url(../images/minus.jpg) no-repeat 10px;
        }
    }
    .collapsible-body {
        li {
            margin: 1rem;
        }
    }
}

.text-light {
    font-weight: lighter;
    color: #757575;
}

.custom-tabs {
    margin: 30px 10px 0;
    .active {
        opacity: .6;
    }
}

.custom-tabs a {
    margin-right: 10px;
}

.process {
    background: #a6a669;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #a6a669 0%, #007466 50%, #004d45 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #a6a669 0%, #007466 50%, #004d45 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #a6a669 0%, #007466 50%, #004d45 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: block;
    color: #bcd3d1;
    padding: 10px;
    border-radius: 5px;
    .title {
        border-bottom: 1px solid rgba(255, 255, 255, .18);
        padding-bottom: 15px;
    }
    &--status {
        font-size: .8rem;
    }
    .remaining {
        font-size: .88rem;
        color: rgba(255, 255, 255, 0.66);
        padding-top: 10px;
        &--time {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    &--results {
        margin-bottom: 0;
        font-weight: bold;
    }
}

.vertical-line {
    position: relative;
    &:after {
        content: '';
        width: 1px;
        height: 37px;
        background: rgba(255, 255, 255, .39);
        position: absolute;
        left: 0;
        top: 31%;
    }
}

.owl-carousel {
    padding-top: 50px;
    .owl-dots {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 0 !important;
    }
}

.tabs {
    .tab a {
        font-size: 20px !important;
        color: #b7b7b7;
        &:hover,
        &.active {
            color: #333333;
            border-bottom: 4px solid #333333;
        }
    }
    .indicator {
        display: none;
    }
}

#search-modal {
    width: 60%;
    overflow: hidden;
    background: transparent;
    box-shadow: none;
}

.search-wrapper {
    background: transparent;
    input {
        height: 40px;
        font-size: 1rem;
        border-radius: 5px;
    }
    i.material-icons {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        color: #fff;
        background: $secondry;
        border-radius: 200px;
        padding: 3px;
        font-size: 18px;
    }
}

#textarea-edit {
    background: transparent;
    border: 0;
}

.scroll-wrapper {
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+50,ffffff+50,ffffff+100 */
        background: rgba(255, 255, 255, 0);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8)60%, #ffffff 65%, #ffffff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 60%, #ffffff 65%, #ffffff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 60%, #ffffff 65%, #ffffff 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}

.scroll {
    height: 500px;
    padding-left: 20px;
    direction: rtl;
    padding-bottom: 70px;
}

.after-scroll {
    margin-top: 25px;
}

.with-border {
    border: 1px solid #868585;
    padding: 11px 8px;
    border-radius: 5px;
}

.documents {
    margin-top: 21px;
}

.documents {
    .task-header {
        display: inline;
    }
}

.task-with-options {
    .options {
        display: none;
        position: absolute;
        left: 0;
        z-index: 9999;
        background: #fff;
        box-shadow: 1px 1px 5px #a7a7a7;
        padding: 8px 15px;
        border-radius: 5px;
        top: 0;
        width: 200px;
        &:before,
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid #fff;
            position: absolute;
            left: 100%;
            top: 15%;
        }
        &:before {
            border-bottom: 12px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 12px solid #ccc;
        }
        a {
            padding: 5px 0;
            display: block;
            color: $secondry;
            img {
                position: relative;
                top: 4px;
                padding-left: 5px;
            }
        }
    }
}

input.input-sm {
    height: 40px;
    font-size: 1.1rem;
    width: 80%;
}

[type="checkbox"].custom-check {
    & + label {
        height: 57px;
        &:before {
            top: 15px !important;
            height: 14px !important;
        }
        &:after {
            top: 12px !important;
            border-radius: 100px;
            border: 1px solid #a59f9f !important;
        }
    }
    &:checked + label:before {
        border-right: 2px solid #ababab !important;
        border-bottom: 2px solid #a5a5a5 !important;
    }
}

.circle {
    border: 2px solid $secondry;
}

.drum-wrapper {
    display: inline-block;
    font-size: 20px;
}

div#drum_date {
    width: 120px;
}

div.drum-wrapper div.container,
div.drum-wrapper figure {
    text-align: center;
}

.group {
    margin-right: -0.75rem;
    margin-top: 20px;
}

.special-wrapper {
    border: 1px solid #ccc;
    padding: 0 10px 10px;
    border-radius: 5px;
}

ul.special-tabs {
    display: flex;
    .tab {
        flex-basis: 100%;
        text-align: center;
        &:first-child a {
            border-radius: 0 5px 5px 0;
        }
        &:nth-child(2) a {
            border-radius: 5px 0 0 5px;
        }
        a {
            background: #fff;
            display: block;
            color: #565656;
            padding: 5px;
            border: 1px solid $secondry;
            font-weight: bold;
            &.active {
                background: $secondry;
                color: #fff;
            }
        }
    }
}

@media screen and ( max-height: 550px) {
    .col.s2.nav-wrapper {
        min-height: 0;
        padding: 0;
    }
    .nav > div,
    .pull-bottom > div {
        padding: 0;
    }
    .profile img {
        width: 50px;
    }
}

#discution {
    padding-bottom: 36px;
    position: relative;
}

.chat_box .chat_message_wrapper ul.chat_message > li + li {
    margin-top: 4px;
}

.popup-box-on {
    display: block !important;
}

a:focus {
    outline: none;
    outline-offset: 0px;
}

.popup-head-left.pull-left h1 {
    color: #fff;
    float: left;
    font-family: oswald;
    font-size: 18px;
    margin: 2px 0 0 5px;
}

.popup-head-left a small {
    display: table;
    font-size: 11px;
    color: #fff;
    line-height: 4px;
    opacity: 0.5;
    padding: 0 0 0 7px;
}

.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 7px;
    font-size: 15px;
    height: 26px;
    opacity: 0.9;
    padding: 0;
    text-align: center;
    width: 26px;
}

.popup-head-right {
    margin: 9px 0 0;
}

.popup-head .btn-group {
    margin: -5px 3px 0 -1px;
}

.gurdeepoushan .dropdown-menu {
    padding: 6px;
}

.gurdeepoushan .dropdown-menu li a span {
    border: 1px solid;
    border-radius: 50px;
    display: list-item;
    font-size: 19px;
    height: 40px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    width: 40px;
}

.gurdeepoushan .dropdown-menu li {
    float: left;
    text-align: center;
    width: 33%;
}

.gurdeepoushan .dropdown-menu li a {
    border-radius: 7px;
    font-family: oswald;
    padding: 3px;
    transition: all 0.3s ease-in-out 0s;
}

.gurdeepoushan .dropdown-menu li a:hover {
    background: #304445 none repeat scroll 0 0 !important;
    color: #fff;
}

.popup-head {
    background: #304445 none repeat scroll 0 0 !important;
    border-bottom: 3px solid #ccc;
    color: #fff;
    display: table;
    width: 100%;
    padding: 8px;
}

.popup-head .md-user-image {
    border: 2px solid #5a7172;
    border-radius: 12px;
    float: left;
    width: 44px;
}

.uk-input-group-addon .glyphicon.glyphicon-send {
    color: #ffffff;
    font-size: 21px;
    line-height: 36px;
    padding: 0 6px;
}

.chat_box_wrapper.chat_box_small.chat_box_active {
    height: 342px;
    overflow-y: scroll;
}

aside {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://scontent.fixc1-1.fna.fbcdn.net/v/t1.0-9/12670232_624826600991767_3547881030871377118_n.jpg?oh=f012838d46b547b3f2f633737794db27&oe=58E0EBE7");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: repeat;
    border: 1px solid #304445;
    bottom: 0;
    display: none;
    height: 466px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.chat_box {
    padding: 16px;
}

.chat_box .chat_message_wrapper::after {
    clear: both;
}

.chat_box .chat_message_wrapper::after,
.chat_box .chat_message_wrapper::before {
    content: " ";
    display: table;
}

.chat_box .chat_message_wrapper .chat_user_avatar {
    float: left;
}

.chat_box .chat_message_wrapper {
    margin-bottom: 32px;
}

.md-user-image {
    border-radius: 50%;
    width: 34px;
}

img {
    border: 0 none;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
}

.chat_box .chat_message_wrapper ul.chat_message,
.chat_box .chat_message_wrapper ul.chat_message > li {
    list-style: outside none none;
    padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message {
    float: left;
    margin: 0 0 0 20px;
    max-width: 77%;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
    border-right-color: #616161;
}

.chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
    border-color: transparent #ededed transparent transparent;
    border-style: solid;
    border-width: 0 16px 16px 0;
    content: "";
    height: 0;
    left: -14px;
    position: absolute;
    top: 0;
    width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li {
    background: #e6e7ec none repeat scroll 0 0;
    color: #000000;
}

.open-btn {
    border: 2px solid #189d0e;
    border-radius: 32px;
    color: #189d0e !important;
    display: inline-block;
    margin: 10px 0 0;
    padding: 9px 16px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
    background: #ededed none repeat scroll 0 0;
    border-radius: 4px;
    clear: both;
    color: #212121;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 16px;
    position: relative;
    word-break: break-all;
}

.chat_box .chat_message_wrapper ul.chat_message,
.chat_box .chat_message_wrapper ul.chat_message > li {
    list-style: outside none none;
    padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
    margin: 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li p {
    margin: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li .chat_message_time {
    color: rgba(185, 186, 180, 0.9);
}

.chat_box .chat_message_wrapper ul.chat_message > li .chat_message_time {
    color: #727272;
    display: block;
    font-size: 11px;
    padding-top: 2px;
    text-transform: uppercase;
}

.chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
    float: right;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
    float: right;
    margin-left: 0 !important;
    margin-right: 24px !important;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before {
    border-left-color: #f9f9f9;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
    border-right-color: #e6e7ec;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before {
    border-color: transparent transparent transparent #ededed;
    border-width: 0 0 29px 29px;
    left: auto;
    right: -14px;
}

.chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
    border-color: transparent #ededed transparent transparent;
    border-style: solid;
    border-width: 0 29px 29px 0;
    content: "";
    height: 0;
    left: -14px;
    position: absolute;
    top: 0;
    width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li {
    background: #f9f9f9 none repeat scroll 0 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
    background: #ededed none repeat scroll 0 0;
    border-radius: 12px;
    clear: both;
    color: #212121;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 16px;
    position: relative;
}

.gurdeep-chat-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    padding: 3px;
}

#submit_message {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 4px;
}

.gurdeep-chat-box i {
    color: #333;
    font-size: 21px;
    line-height: 1px;
}

.chat_submit_box {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.uk-input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

.chat_message_wrapper.chat_message_right .chat_message >li {
    float: right !important;
}

.chat-input {
    background: #f7f7f7;
    position: absolute;
    bottom: -10px;
    width: calc(100% + 20px);
    left: -10px;
    border-radius: 0 0 6px 6px;
    padding-top: 5px;
    input {
        height: 22px;
        border-radius: 3px;
        /* position: absolute; */
    }
}

.mic i {
    color: #fff;
    background: #858e99;
    border-radius: 50px;
    padding: 1px;
    font-size: 21px;
    margin-top: 3px;
}

#editor strong {
    font-weight: bold !important;
}

.ql-toolbar.ql-snow {
    direction: ltr;
    border: 0;
    clear: both;
}

.ql-container.ql-snow {
    border: 0;
}

.edit {
    &-text {
        color: $secondry;
        font-weight: bold;
        position: relative;
        margin: 0 4px;
        top: 6px;
        &.active {
            color: #ccc;
        }
    }
    &-small {
        font-size: .8rem;
    }
    &-large {
        font-size: 1.4rem;
    }
}

#filter-modal {
    width: 50%;
    min-width: 300px;
    border: 1px solid #ccc;
    position: fixed;
    transition: all .4s cubic-bezier(0, 0, 0.2, 1);
    transform: translateX(-200%);
    border-radius: 5px;
    top: 0;
    background: #fff;
    z-index: 99999999;
    padding: 20px;
    h6 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &.open {
        transform: translateX(-90%);
        position: absolute;
    }
}

.date.picker__input {
    border: 0;
    font-size: 13px;
    padding: 0;
    height: auto;
    text-indent: 0;
}
.notifications{
    a{
        color: #fff;
    }
    img{
        width: 66px !important;
        margin: 5px auto;
    }
    .withBorder{
        border: 1px solid #fff;
        margin-top: 100px;
    }
}

.aprrovals{
    .valign-wrapper{
        margin: 20px 0;

    }

}
.modal .valign-wrapper{
            padding: 0 50px;
        }
.status{
    .approve &{
        color: #00907d;
        background: url(../images/approve.png) right no-repeat;
        padding-right: 30px;
    }
    .decline &{
        color: #d0021b;
        background: url(../images/decline.png) right no-repeat;
        padding-right: 30px;
    }
    .approve-with-comment &{
        color: #00907d;
        background: url(../images/approve-comment.png) right no-repeat;
        padding-right: 30px;
    }
    }

    .close-modal {
    font-size: 18px;
    color: #ccc;
    position: absolute;
    left: 14px;
    top: 4px;
    font-family: monospace;
}
.status .col{
    font-size: 25px;
    color:#5d5d5d;
    text-align: center;
    font-weight: bold;
 img {
    width: 27px;
    position: relative;
    top: 4px;
}
span{
    display: block;
    font-size: 14px;
    font-weight: bold;
}
p{
    font-size: 13px;
color:#b4b4b4;
padding: 0;margin: 0;
font-weight: normal;
}
}
.gray-bg{
    background: #fbfbfb;
}
.uploadIcon{
        width: 28px;
    position: relative;
    top: 6px;
    margin-left: 8px;
}
#edit-status-modal{
    [type="checkbox"].custom-check + label{
    height: auto;
    }
    [type="checkbox"].custom-check + label:before,[type="checkbox"].custom-check + label:after{
        top:0 !important;
    }
}

.input-field .prefix{
    left: 20px;
}